
    <div class="container">
        <div>
            <p class="texto">Enter Your Name:</p>
        </div>
        <input pInputText type="text" class="p-inputtext-lg change" placeholder="Name" [(ngModel)]="name" />
        <input pInputText type="text" class="p-inputtext-lg change" placeholder="Last Name" [(ngModel)]="lastName" />
        <div class="buttonGroup">
            <button (click)="onSendUser()">Save</button>
            <button (click)="onCancel()">Cancel</button>
        </div>
    </div>


